@import url('https://fonts.googleapis.com/css?family=Noto+Sans+KR:100,300,400,500,700,900|Noto+Sans:400,400i,700,700i&display=swap&subset=korean');
/* font-family: 'Noto Sans', sans-serif;
font-family: 'Noto Sans KR', sans-serif; */
*{
box-sizing: border-box;
}
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
margin: 0;
padding: 0;
border: 0;
font-size: 18px;
color: #111;
font: inherit;
vertical-align: baseline;
font-family: 'Noto Sans', sans-serif;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
display: block;
}
body {
line-height: 1;
}
ol, ul {
list-style: none;
}
blockquote, q {
quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
content: '';
content: none;
}
table {
border-collapse: collapse;
border-spacing: 0;
}
a{
text-decoration: none;
}
h1{
    position: fixed;
    top: 10px; left: 50px;
    z-index: 99;
    cursor: pointer;
}
.mainWrapper{
    width: 100%;
}
.mainNav{
    width:100%;
    margin: 0 auto;
    background: rgba(7, 16, 31, 0.6);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80px;
    border-bottom: none;
    position: fixed;
    left:50%;top: 0;
    transform: translateX(-50%);
    z-index: 98;
}
.mainNav li{
    color: #fefefe;
    font-size: 0.9rem;
    font-weight: bold;
    cursor: pointer;
    position: relative;
    margin: 0 3%;
}
.mainNav li:after{
    content: '';
    position: absolute;
    left:50%; bottom: -12px;
    width: 0;
    height: 3px;
    background: #ed1b2e;
    transition: .5s;
}
.mainNav li.clicked:after{
    content: '';
    position: absolute;
    left:0; bottom: -12px;
    width: 100%;
    height: 3px;
    background: #ed1b2e;
}
.mainNav li.red{
    color: #ed1b2e;
}
.mainNav li:hover:after{
    left:0;
    width: 100%;
}
#subNav{
    width: 100%;
    height: 0;
    background: rgba(7, 16, 31, 0.6);
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    left:50%;top: 80px;
    transform: translateX(-50%);
    padding-top: -10px;
    transition: .5s;
    z-index: 98;
}
#subNav a{
    color: #fefefe;
    font-size: 0.8rem;
    margin: 0 2%;
    opacity: 0;
}
#subNav.focused a{
    color: #fefefe;
    font-size: 0.8rem;
    margin: 0 2%;
    opacity: 1;
}
.MainContents{
    width: 100%;
    min-height: 4000px;
    background: linear-gradient(180deg, rgba(10,9,34,1) 0%, rgba(52,57,125,1) 20%, rgba(57,58,223,1) 36%, rgba(90,29,235,1) 50%, rgba(219,29,235,1) 69%, rgba(134,16,144,1) 90%, rgba(89,8,96,1) 100%);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 200px;
}
.MainContents h2{
    font-size: 1.5rem;
    font-weight: bold;
    letter-spacing: 0.05rem;
    margin-bottom: 5px;
    color: #fefefe;
}
.mainImg{
    width: 60%;
    position: absolute;
    top: 60%;
    left: 45%;
    transform: translate(-50%, -50%);
}